<?xml version='1.0' encoding='utf-8'?>
<widget id="com.adrogames.pcr" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pixel Cat Runner</name>
    <description>Beta de ADRO GAMES</description>
    <author email="tu@email.com">ADRO GAMES</author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="#000000" />
    

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="KeepRunning" value="true" />
    </platform>
</widget>
<preference name="AllowInlineMediaPlayback" value="true" />
<preference name="MediaPlaybackRequiresUserAction" value="false" />
<preference name="AutoplayImmutableState" value="true" />
